<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <!-- meta要素の部品化 -->
        <div th:fragment="meta" th:remove="tag">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        </div>

        <!-- link要素の部品化 -->
        <div th:fragment="styles" th:remove="tag">
            <!-- Bootstrap -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

            <!-- Google Fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">

            <!-- CSSファイル -->
            <link th:href="@{/css/style.css}" rel="stylesheet" >
        </div>

        <title>部品化用のHTMLファイル</title>
    </head>
    <body>
        <!-- ヘッダーの部品化 -->
        <div th:fragment="header" th:remove="tag">
            <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
                <div class="container nagoyameshi-container">
                    <a class="navbar-brand nagoyameshi-app-name" th:href="@{/}">
                        <div class="d-flex align-items-center">
                            <img class="nagoyameshi-logo me-1" th:src="@{/images/logo.svg}" alt="NAGOYAMESHI">
                            <span>NAGOYAMESHI</span>
                        </div>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <!-- 未ログインであれば表示する -->
                            <li class="nav-item" sec:authorize="isAnonymous()">
                                <a class="nav-link" th:href="@{/login}">ログイン</a>
                            </li>
                            <li class="nav-item" sec:authorize="isAnonymous()">
                                <a class="nav-link" th:href="@{/signup}">新規登録</a>
                            </li>

                            <!-- 無料会員であれば表示する -->
                            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_FREE_MEMBER')">
                                <a id="navbarDropdownGeneral" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                    <span sec:authentication="principal.user.name"></span>
                                </a>

                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownGeneral">
                                    <a class="dropdown-item" th:href="@{/user}">会員情報</a>
                                    <a class="dropdown-item" th:href="@{/subscription/register}">有料プラン登録</a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                                        ログアウト
                                    </a>
                                    <form class="d-none" id="logout-form" th:action="@{/logout}" method="post"></form>
                                </div>
                            </li>

                            <!-- 有料会員であれば表示する -->
                            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_PAID_MEMBER')">
                                <a id="navbarDropdownGeneral" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                    <span sec:authentication="principal.user.name"></span>
                                </a>

                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownGeneral">
                                    <a class="dropdown-item" th:href="@{/user}">会員情報</a>
                                    <a class="dropdown-item" th:href="@{/reservations}">予約一覧</a>
                                    <a class="dropdown-item" th:href="@{/favorites}">お気に入り一覧</a>
                                    <a class="dropdown-item" th:href="@{/subscription/edit}">お支払い方法</a>
                                    <a class="dropdown-item" th:href="@{/subscription/cancel}">有料プラン解約</a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                                        ログアウト
                                    </a>
                                    <form class="d-none" id="logout-form" th:action="@{/logout}" method="post"></form>
                                </div>
                            </li>

                            <!-- 管理者であれば表示する -->
                            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a id="navbarDropdownAdmin" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                    管理者メニュー
                                </a>

                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownAdmin">
                                    <a class="dropdown-item" th:href="@{/admin}">ホーム</a>
                                    <a class="dropdown-item" th:href="@{/admin/users}">会員一覧</a>
                                    <a class="dropdown-item" th:href="@{/admin/restaurants}">店舗一覧</a>
                                    <a class="dropdown-item" th:href="@{/admin/categories}">カテゴリ一覧</a>
                                    <a class="dropdown-item" th:href="@{/admin/company}">会社概要</a>
                                    <a class="dropdown-item" th:href="@{/admin/terms}">利用規約</a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                                        ログアウト
                                    </a>
                                    <form class="d-none" id="logout-form" th:action="@{/logout}" method="post"></form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- サイドバーの部品化 -->
        <div th:fragment="sidebar" th:remove="tag">
            <div class="col-2 admin-sidebar">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" th:href="@{/admin}">ホーム</a>
                    <a class="list-group-item list-group-item-action" th:href="@{/admin/users}">会員一覧</a>
                    <a class="list-group-item list-group-item-action" th:href="@{/admin/restaurants}">店舗一覧</a>
                    <a class="list-group-item list-group-item-action" th:href="@{/admin/categories}">カテゴリ一覧</a>
                    <a class="list-group-item list-group-item-action" th:href="@{/admin/company}">会社概要</a>
                    <a class="list-group-item list-group-item-action" th:href="@{/admin/terms}">利用規約</a>
                </div>
            </div>
        </div>

        <!-- フッターの部品化 -->
        <div th:fragment="footer" th:remove="tag">
            <footer class="bg-light">
                <div class="d-flex justify-content-center nagoyameshi-footer-logo">
                    <a class="navbar-brand nagoyameshi-app-name" th:href="@{/}">
                        <div class="d-flex align-items-center">
                            <img class="nagoyameshi-logo me-1" th:src="@{/images/logo.svg}" alt="NAGOYAMESHI">
                            <span>NAGOYAMESHI</span>
                        </div>
                    </a>
                </div>

                <!-- 管理者以外であれば表示する -->
                <div class="d-flex justify-content-center nagoyameshi-footer-link" sec:authorize="!hasRole('ROLE_ADMIN')">
                    <a th:href="@{/company}" class="link-secondary me-3">会社概要</a>
                    <a th:href="@{/terms}" class="link-secondary">利用規約</a>
                </div>

                <!-- 管理者であれば表示する -->
                <div class="d-flex justify-content-center nagoyameshi-footer-link" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/admin/company}" class="link-secondary me-3">会社概要</a>
                    <a th:href="@{/admin/terms}" class="link-secondary">利用規約</a>
                </div>

                <p class="text-center text-muted small mb-0">&copy; NAGOYAMESHI All rights reserved.</p>
            </footer>
        </div>

        <!-- script要素の部品化 -->
        <div th:fragment="scripts" th:remove="tag">
            <!-- Bootstrap -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        </div>
    </body>
</html>
